{% extends "index.html" %} {% block content %}
<div>
  <div class="uk-child-width-1-4@m uk-text-center" uk-grid>
    <div>
      <div class="uk-card uk-card-default uk-card-body">
        <div class="uk-card-media-top">
          <img src="static/cards.jpeg" alt="" />
        </div>
        <div class="uk-card-body">
          <h3 class="uk-card-title" style="font-family: Pacifico, cursive;">
            Game Night
          </h3>
          <p style="font-family: 'Coming Soon', cursive;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt.
          </p>
        </div>
      </div>
    </div>
    <div>
      <div class="uk-card uk-card-default uk-card-body">
        <div class="uk-card-media-top">
          <img src="static/cards.jpeg" alt="" />
        </div>
        <div class="uk-card-body">
          <h3 class="uk-card-title" style="font-family: Pacifico, cursive;">
            Game Night
          </h3>
          <p style="font-family: 'Coming Soon', cursive;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt.
          </p>
        </div>
      </div>
    </div>
    <div>
      <div class="uk-card uk-card-default uk-card-body">
        <div class="uk-card-media-top">
          <img src="static/cards.jpeg" alt="" />
        </div>
        <div class="uk-card-body">
          <h3 class="uk-card-title" style="font-family: Pacifico, cursive;">
            Game Night
          </h3>
          <p style="font-family: 'Coming Soon', cursive;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt.
          </p>
        </div>
      </div>
    </div>
    <div>
      <div class="uk-card uk-card-default uk-card-body">
        <div class="uk-card-media-top">
          <img src="static/cards.jpeg" alt="" />
        </div>
        <div class="uk-card-body">
          <h3 class="uk-card-title" style="font-family: Pacifico, cursive;">
            Game Night
          </h3>
          <p style="font-family: 'Coming Soon', cursive;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt.
          </p>
        </div>
      </div>
    </div>
    <div>
      <div class="uk-card uk-card-default uk-card-body">
        <div class="uk-card-media-top">
          <img src="static/cards.jpeg" alt="" />
        </div>
        <div class="uk-card-body">
          <h3 class="uk-card-title" style="font-family: Pacifico, cursive;">
            Game Night
          </h3>
          <p style="font-family: 'Coming Soon', cursive;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt.
          </p>
        </div>
      </div>
    </div>
    <div>
      <div class="uk-card uk-card-default uk-card-body">
        <div class="uk-card-media-top">
          <img src="static/cards.jpeg" alt="" />
        </div>
        <div class="uk-card-body">
          <h3 class="uk-card-title" style="font-family: Pacifico, cursive;">
            Game Night
          </h3>
          <p style="font-family: 'Coming Soon', cursive;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
